<?xml version="1.0" encoding="UTF-8"?>
<!-- Default logback configuration. Can be configured according project needs or development purposes-->
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | [%thread - %logger{0}:%L] | %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="consoleAppender"/>
	</root>

	<!-- Specific configuration for lower environments -->
	<springProfile name="local | dev-sb | dev | sit | uat">
		<appender name="consoleDebugAppender" class="ch.qos.logback.core.ConsoleAppender">
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>DEBUG</level>
			</filter>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | [%thread] | [%c::%M %L] | %msg%n</pattern>
			</encoder>
		</appender>

		<logger name="com.my.template.service" level="DEBUG" additivity="false">
			<appender-ref ref="consoleDebugAppender"/>
		</logger>

		<logger name="com.my.template.web" level="DEBUG" additivity="false">
			<appender-ref ref="consoleDebugAppender"/>
		</logger>
	</springProfile>
</configuration>